<app-header titulo="Card Pages"></app-header>

<ion-content padding>

    <ion-card mode="ios" color="primary">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>

  <ion-card>
    <ion-item color=primary>
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
        Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
        Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
    </ion-card-content>
  </ion-card>

</ion-content>
