<app-header titulo="Fab Buttons"></app-header>

<ion-content padding>

  <!--fixed no moverte-->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-facebook" color="primary"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-twitter" color="secondary"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-youtube" color="danger"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="logo-vimeo" color="secondary"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-google" color="primary"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-github" color="dark"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let i of data; let index=index">
      Item {{index + 1}}
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar color="danger">
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
